<html lang="zh-CN">
<head>
    {% load staticfiles %}
    {% include 'html_head.html' %}
    <title> {{ news.title }} </title>
</head>
<body>
{% include 'head.html' %}
<div class="container">
    <div class="container col-sm-9">
        <h2 class="text-center">{{ news.title }}</h2>

        <p class="text-center">{{ news.author }} 发布时间：{{ news.time }}</p>
        <hr/>
        <div style="font-size: 18px; line-height: 30px">
            {% for line in news_content %}
                <p>{{ line }}</p>
            {% endfor %}

        </div>
    </div>

    <div class="container col-sm-3">
        <blockquote>新闻动态</blockquote>
        <ol class="list-group-item-text">
            {% for news_item in news_list %}
                <li><a href="/news/{{ news_item.id }}/">{{ news_item.title }}</a></li>
            {% endfor %}
        </ol>
    </div>
</div>

{% include 'footer.html' %}

</body>
</html>